#workbenchPageContent {
  max-width: 100%;
}

.content_3f3fd3c2,
.CanvasZone {
  padding: 0 !important;
  max-width: 100% !important;
}

input[type="text" i] {
  padding: 1px !important;
  border: 1px solid;
}

.colorRow > :first-child {
  /* animation: rowColorChange 2s linear infinite; */
  background-color: rgba(204, 87, 87, 0.658);
}
@keyframes rowColorChange {
  0% {
    background-color: rgba(204, 87, 87, 0.658);
  }

  50% {
    background-color: rgb(255, 255, 255);
  }

  100% {
    background-color: rgba(204, 87, 87, 0.658);
  }
}

.comboBox .MuiFormControl-root {
  /* height: 54px; */
  overflow: auto;
}
.comboBox input[type="text" i] {
  border: none !important;
}

.p-datatable {
  margin-top: 16px !important;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.p-datatable .p-datatable-thead > tr > th {
  font-size: 14px !important;
  color: rgb(197, 107, 112) !important;
  border: none !important;
  padding: 0.5rem 0.5rem;
}
.p-datatable .p-datatable-tbody > tr > td {
  font-size: 12px !important;
  padding: 0.5rem 0.5rem;
}

/* export data styles */
.p-button,
.p-datepicker table td > span.p-highlight {
  background-color: #a83037 !important;
  border: none !important;
}
.p-calendar:not(.p-calendar-disabled).p-focus > .p-inputtext {
  box-shadow: unset !important;
}

/*  alertify */
.alertify-notifier .ajs-message.ajs-success {
  color: #fff;
  border: 1px solid #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  -webkit-box-shadow: -2px 10px 10px -10px #ffffff;
  -moz-box-shadow: -2px 10px 10px -10px #ffffff;
  box-shadow: -2px 10px 10px -10px #ffffff;
}

.alertify-notifier .ajs-message.ajs-error {
  background: #fa5032;
  color: #fff;
  border: 1px solid #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  -webkit-box-shadow: -2px 10px 10px -10px #ffffff;
  -moz-box-shadow: -2px 10px 10px -10px #ffffff;
  box-shadow: -2px 10px 10px -10px #ffffff;
}
